# NYPD Motor Vehicle Collision Data<a id='Top'></a>

### Overview

The "Motor Vehicle Collisions - Crashes" dataset available through New York City's Open Data program contains information about reported vehicle crashes in NYC. Each row contains details on a single crash event. 

The data contains records from 2012 to today, with data updated on a daily basis. At the time of this writing, there are 1.61 million rows, each row representing a crash event, and 29 columns. 

In this notebook we will analyze this data as follows:

1. [Importing](#Importing)
2. [Understanding](#Understanding)
    - [Column Contents](#column_contents)
    - [Descriptive Statistics](#descriptive_statistics)
    - [Columns Missing Data](#empty)
3. [Transforming](#Transforming)
    - [Dropping Columns](#Drop)
    - [Renaming Data](#Renaming)
    - [Redundant Columns](#Redundant)
    - [Data Types](#data_type)
    - [Categorizing](#categorizing)
4. [Analyzing](#Analyzing)
5. [Statistical Analysis](#statistical_analysis)
6. [Visualizing](#Visualizations)
    - [Number of Deaths by Borough](#Fataities_by_borough) 
    - [Number of Deaths by Hour](#Fataities_by_hour)
    - [Number of Accidents by Season](#accidents_by_season)
    - [Fatal Car Crash Locations](#car_crash_locations)
    - [Contributing Factor Trends](#contributing_factor_trends)
    - [Contributing Factors to Crash Fatalities](#Factor_Bar_Plot)
    - [Fatalities to Pedestrians vs Cyclists vs Motorist](#Fataity_Grouped_Series)
    - [Fatal Crash Frequency Over Time](#Fatality_Time_Scatterplot)
    - [Crash Factor Percentages in Queens](#queens_crash_causes)
7. [End of Document](#Bottom)


* The dataset can be found by following this link: https://data.cityofnewyork.us/Public-Safety/NYPD-Motor-Vehicle-Collisions-Crashes/h9gi-nx95

### Importing the Data<a id='Importing'></a>

Let's begin by importing a few libraries we will use later in the notebook, and then bring the first two million rows of NYPD Motor Vehicle Collision Data using pandas. We are over-estimating the number of rows, to leave room for more data if this is run in the future.

In [1]:
import numpy as np
import pandas as pd
import datetime as dt
import sys
from IPython.core.display import display, HTML

In [2]:
datanyc = pd.read_csv("https://data.cityofnewyork.us/resource/h9gi-nx95.csv?$limit=2000000", low_memory=False)

And let's pull up the data dictionary supplied by the Open Data website for reference.

In [3]:
data_dict = pd.read_excel("https://data.cityofnewyork.us/api/views/h9gi-nx95/files/2e58023a-21a6-4c76-b9e8-0101bf7509ca?download=true&filename=MVCollisionsDataDictionary.xlsx",
                         sheet_name='Column Info',  header=1)
data_dict.head(30)

,Table Name,Column Name,Column Description,Primary Key or Foreign Key,"Additional Notes (where applicable, includes the range of possible values, units of measure, how to interpret null/zero values, whether there are specific relationships between columns, and/or information on column source)"
0,MV-Collisions - Crash,UNIQUE_ID,Unique record code generated by system,Primary Key for the crash table,NaN
1,MV-Collisions - Crash,ACCIDENT_DATE,Occurrence date of collision,NaN,NaN
2,MV-Collisions - Crash,ACCIDENT_TIME,Occurrence time of collision,NaN,NaN
3,MV-Collisions - Crash,BOROUGH,Borough where collision occurred,NaN,NaN
4,MV-Collisions - Crash,ZIP CODE,Postal code of incident occurrence,NaN,NaN
5,MV-Collisions - Crash,LATITUDE,Latitude coordinate for Global Coordinate Syst...,NaN,NaN
6,MV-Collisions - Crash,LONGITUDE,Longitude coordinate for Global Coordinate Sys...,NaN,NaN
7,MV-Collisions - Crash,LOCATION,"Latitude , Longitude pair",NaN,NaN
8,MV-Collisions - Crash,ON STREET NAME,Street on which the collision occurred,NaN,NaN
9,MV-Collisions - Crash,CROSS STREET NAME,Nearest cross street to the collision,NaN,NaN
10,MV-Collisions - Crash,OFF STREET NAME,Street address if known,NaN,NaN
11,MV-Collisions - Crash,NUMBER OF PERSONS INJURED,Number of persons injured,NaN,NaN
12,MV-Collisions - Crash,NUMBER OF PERSONS KILLED,Number of persons killed,NaN,NaN
13,MV-Collisions - Crash,NUMBER OF PEDESTRIANS INJURED,Number of pedestrians injured,NaN,NaN
14,MV-Collisions - Crash,NUMBER OF PEDESTRIANS KILLED,Number of pedestrians killed,NaN,NaN
15,MV-Collisions - Crash,NUMBER OF CYCLIST INJURED,Number of cyclists injured,NaN,NaN
16,MV-Collisions - Crash,NUMBER OF CYCLIST KILLED,Number of cyclists killed,NaN,NaN
17,MV-Collisions - Crash,NUMBER OF MOTORIST INJURED,Number of vehicle occupants injured,NaN,NaN
18,MV-Collisions - Crash,NUMBER OF MOTORIST KILLED,Number of vehicle occupants killed,NaN,NaN
19,MV-Collisions - Crash,CONTRIBUTING FACTOR VEHICLE 1,Factors contributing to the collision for desi...,NaN,NaN
20,MV-Collisions - Crash,CONTRIBUTING FACTOR VEHICLE 2,Factors contributing to the collision for desi...,NaN,NaN
21,MV-Collisions - Crash,CONTRIBUTING FACTOR VEHICLE 3,Factors contributing to the collision for desi...,NaN,NaN
22,MV-Collisions - Crash,CONTRIBUTING FACTOR VEHICLE 4,Factors contributing to the collision for desi...,NaN,NaN
23,MV-Collisions - Crash,CONTRIBUTING FACTOR VEHICLE 5,Factors contributing to the collision for desi...,NaN,NaN
24,MV-Collisions - Crash,VEHICLE TYPE CODE 1,Type of vehicle based on the selected vehicle ...,NaN,NaN
25,MV-Collisions - Crash,VEHICLE TYPE CODE 2,Type of vehicle based on the selected vehicle ...,NaN,NaN
26,MV-Collisions - Crash,VEHICLE TYPE CODE 3,Type of vehicle based on the selected vehicle ...,NaN,NaN
27,MV-Collisions - Crash,VEHICLE TYPE CODE 4,Type of vehicle based on the selected vehicle ...,NaN,NaN
28,MV-Collisions - Crash,VEHICLE TYPE CODE 5,Type of vehicle based on the selected vehicle ...,NaN,NaN
29,MV-Collisions - Vehicle,UNIQUE_ID,Unique record code generated by system,Primary Key for the vehicle table,NaN

### Understanding the Data <a id='Understanding'></a>
Let's look at the first few rows of the dataset.

In [4]:
pd.set_option('display.max_columns', None) # This allows us to view all columns in a dataframe when called
pd.set_option('display.max_rows', 200) # This returns 200 rows at max to prevent accidents when writing code
datanyc.head()

,crash_date,crash_time,borough,zip_code,latitude,longitude,location,on_street_name,off_street_name,cross_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,collision_id,vehicle_type_code1,vehicle_type_code2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5
0,2019-04-06T00:00:00.000,13:00,STATEN ISLAND,10306,40.571987,-74.108230,POINT (-74.10823 40.571987),NaN,NaN,2424 HYLAN BOULEVARD,1.0,0.0,1,0,0,0,0,0,View Obstructed/Limited,NaN,NaN,NaN,NaN,4109794,Sedan,NaN,NaN,NaN,NaN
1,2019-04-09T00:00:00.000,18:50,BROOKLYN,11220,40.633675,-74.009640,POINT (-74.00964 40.633675),NaN,NaN,850 62 STREET,0.0,0.0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,4111841,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
2,2019-04-23T00:00:00.000,9:00,MANHATTAN,10001,40.745830,-73.991920,POINT (-73.99192 40.74583),NaN,NaN,121 WEST 27 STREET,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4121967,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
3,2019-04-03T00:00:00.000,8:55,STATEN ISLAND,10301,40.644073,-74.077774,POINT (-74.077774 40.644073),STUYVESANT PLACE,WALL STREET,NaN,1.0,0.0,1,0,0,0,0,0,Reaction to Uninvolved Vehicle,NaN,NaN,NaN,NaN,4110892,Sedan,NaN,NaN,NaN,NaN
4,2019-04-03T00:00:00.000,9:31,NaN,NaN,NaN,NaN,NaN,188 STREET,GRAND CENTRAL PARKWAY,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,4108091,Sedan,Sedan,NaN,NaN,NaN

... And get overall information about the contents of the data. <a id='column_contents'></a>

In [5]:
pd.options.display.max_info_rows = 2000000
datanyc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1617414 entries, 0 to 1617413
Data columns (total 29 columns):
crash_date                       1617414 non-null object
crash_time                       1617414 non-null object
borough                          1126400 non-null object
zip_code                         1126203 non-null object
latitude                         1420116 non-null float64
longitude                        1420116 non-null float64
location                         1420116 non-null object
on_street_name                   1300003 non-null object
off_street_name                  1074186 non-null object
cross_street_name                225246 non-null object
number_of_persons_injured        1617397 non-null float64
number_of_persons_killed         1617383 non-null float64
number_of_pedestrians_injured    1617414 non-null int64
number_of_pedestrians_killed     1617414 non-null int64
number_of_cyclist_injured        1617414 non-null int64
number_of_cyclist_killed         1617414 non-null int64
number_of_motorist_injured       1617414 non-null int64
number_of_motorist_killed        1617414 non-null int64
contributing_factor_vehicle_1    1613141 non-null object
contributing_factor_vehicle_2    1399619 non-null object
contributing_factor_vehicle_3    104604 non-null object
contributing_factor_vehicle_4    21782 non-null object
contributing_factor_vehicle_5    5573 non-null object
collision_id                     1617414 non-null int64
vehicle_type_code1               1611940 non-null object
vehicle_type_code2               1350034 non-null object
vehicle_type_code_3              133649 non-null object
vehicle_type_code_4              49559 non-null object
vehicle_type_code_5              10666 non-null object
dtypes: float64(4), int64(7), object(18)
memory usage: 357.9+ MB

Each column should contain approxamitely 1.6 million values, though some columns have considerably fewer entries. Let's find the percentage of the missing values and see which columns have the most amount of missing values. To do so we will get a mean of the missing values and then round it to the second decimal.

In [6]:
pd.set_option('display.max_columns', 29)
datanyc.isnull().mean().round(4) * 100

crash_date                        0.00
crash_time                        0.00
borough                          30.36
zip_code                         30.37
latitude                         12.20
longitude                        12.20
location                         12.20
on_street_name                   19.62
off_street_name                  33.59
cross_street_name                86.07
number_of_persons_injured         0.00
number_of_persons_killed          0.00
number_of_pedestrians_injured     0.00
number_of_pedestrians_killed      0.00
number_of_cyclist_injured         0.00
number_of_cyclist_killed          0.00
number_of_motorist_injured        0.00
number_of_motorist_killed         0.00
contributing_factor_vehicle_1     0.26
contributing_factor_vehicle_2    13.47
contributing_factor_vehicle_3    93.53
contributing_factor_vehicle_4    98.65
contributing_factor_vehicle_5    99.66
collision_id                      0.00
vehicle_type_code1                0.34
vehicle_type_code2               16.53
vehicle_type_code_3              91.74
vehicle_type_code_4              96.94
vehicle_type_code_5              99.34
dtype: float64

Wow! Some columns have a lot of missing values. 

For some it makes sense. After looking at the data dictionary, `contributing_factor_vehicle_2` or `contributing_factor_vehicle_3` seem like they may be missing because there were no second or third contributing factors to the collision. 

It looks like `contributing_factor_vehicle_3`, `contributing_factor_vehicle_4`, `contributing_factor_vehicle_5` and `vehicle_type_code_3`, `vehicle_type_code_4`, `vehicle_type_code_5` have very few values compared to the others. We will take a closer look at them when we start transforming our data.

For now, we will use the `describe` function to generate some descriptive statistics. This will work on numeric and object series, and may point out any glaring holes in the data. <a id='descriptive_statistics'></a>

In [7]:
datanyc.describe()

,latitude,longitude,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,collision_id
count,1.420116e+06,1.420116e+06,1.617397e+06,1.617383e+06,1.617414e+06,1.617414e+06,1.617414e+06,1.617414e+06,1.617414e+06,1.617414e+06,1.617414e+06
mean,4.069209e+01,-7.387259e+01,2.627642e-01,1.167936e-03,5.062402e-02,6.318729e-04,2.074732e-02,8.408484e-05,1.915335e-01,4.544291e-04,2.784890e+06
std,1.141346e+00,2.347529e+00,6.600726e-01,3.610861e-02,2.318124e-01,2.571286e-02,1.436994e-01,9.236578e-03,6.224446e-01,2.317480e-02,1.505232e+06
min,0.000000e+00,-2.013600e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.200000e+01
25%,4.066880e+01,-7.397720e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.031804e+06
50%,4.072257e+01,-7.392975e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.444832e+06
75%,4.076797e+01,-7.386689e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.849418e+06
max,4.334444e+01,0.000000e+00,4.300000e+01,8.000000e+00,2.700000e+01,6.000000e+00,4.000000e+00,2.000000e+00,4.300000e+01,5.000000e+00,4.254557e+06

Obviously averages and standard deviations don't tell a lot about latitude and longitude, but why we don't have full data counts in those columns? The rest of analysis doesn't appear to have obvious problems.

Let's take a look at some of the empty `latitude` column using the `isnull` function. <a id='empty'></a>

In [8]:
datanyc[datanyc['latitude'].isnull()].head(20)

,crash_date,crash_time,borough,zip_code,latitude,longitude,location,on_street_name,off_street_name,cross_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,collision_id,vehicle_type_code1,vehicle_type_code2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5
4,2019-04-03T00:00:00.000,9:31,NaN,NaN,NaN,NaN,NaN,188 STREET,GRAND CENTRAL PARKWAY,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,4108091,Sedan,Sedan,NaN,NaN,NaN
10,2019-04-17T00:00:00.000,14:20,NaN,NaN,NaN,NaN,NaN,crossbronx exp,havemeyer ave,NaN,2.0,0.0,0,0,0,0,2,0,Unspecified,Unspecified,NaN,NaN,NaN,4116768,Pick-up Truck,Sedan,NaN,NaN,NaN
11,2019-04-03T00:00:00.000,13:45,BROOKLYN,11233,NaN,NaN,NaN,NaN,NaN,249 THOMAS BOYLAND STREET,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4109326,Sedan,Sedan,NaN,NaN,NaN
17,2019-03-29T00:00:00.000,1:50,NaN,NaN,NaN,NaN,NaN,BELT PARKWAY,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Other Vehicular,NaN,NaN,NaN,NaN,4104971,Sedan,NaN,NaN,NaN,NaN
42,2019-04-18T00:00:00.000,18:00,NaN,NaN,NaN,NaN,NaN,VERRAZANO BRIDGE UPPER,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Following Too Closely,Unspecified,NaN,NaN,NaN,4117784,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
46,2019-04-04T00:00:00.000,14:07,NaN,NaN,NaN,NaN,NaN,VERRAZANO BRIDGE UPPER,NaN,NaN,3.0,0.0,0,0,0,0,3,0,Following Too Closely,Unspecified,NaN,NaN,NaN,4109788,Sedan,Van,NaN,NaN,NaN
54,2019-12-06T00:00:00.000,10:35,NaN,NaN,NaN,NaN,NaN,FDR DRIVE,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,4253284,Sedan,Pick-up Truck,NaN,NaN,NaN
67,2019-04-12T00:00:00.000,10:28,NaN,NaN,NaN,NaN,NaN,BROOKLYN QUEENS EXPRESSWAY RAMP,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Unsafe Lane Changing,Unspecified,NaN,NaN,NaN,4114359,Sedan,Concrete Mixer,NaN,NaN,NaN
69,2019-04-25T00:00:00.000,9:57,NaN,NaN,NaN,NaN,NaN,TRIBOROUGH BRIDGE,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,4120675,Sedan,NaN,NaN,NaN,NaN
105,2019-04-03T00:00:00.000,16:30,BROOKLYN,11208,NaN,NaN,NaN,EGAN STREET,FOUNTAIN AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Passing or Lane Usage Improper,Unspecified,NaN,NaN,NaN,4108244,Sedan,NaN,NaN,NaN,NaN
112,2019-04-09T00:00:00.000,11:50,NaN,NaN,NaN,NaN,NaN,JACKIE ROBINSON PKWY,NaN,NaN,1.0,0.0,0,0,0,0,1,0,Following Too Closely,Unspecified,Unspecified,NaN,NaN,4111699,Taxi,Sedan,Sedan,NaN,NaN
139,2019-04-10T00:00:00.000,8:28,NaN,NaN,NaN,NaN,NaN,VERRAZANO BRIDGE UPPER,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Other Vehicular,Unspecified,NaN,NaN,NaN,4113164,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
143,2019-04-16T00:00:00.000,10:39,BROOKLYN,11218,NaN,NaN,NaN,OCEAN PARKWAY,BEVERLEY ROAD,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4115827,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
155,2019-04-14T00:00:00.000,8:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,212-50 HEMPSTEAD AVENUE,0.0,0.0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,4115228,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
160,2019-04-19T00:00:00.000,20:23,NaN,NaN,NaN,NaN,NaN,BAY PARKWAY,SHORE PARKWAY,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,4117725,Sedan,NaN,NaN,NaN,NaN
185,2017-10-22T00:00:00.000,21:30,QUEENS,11354,NaN,NaN,NaN,NORTHERN BOULEVARD,PRINCE STREET,NaN,1.0,0.0,0,0,0,0,1,0,Failure to Yield Right-of-Way,Unspecified,NaN,NaN,NaN,3774549,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
186,2019-08-11T00:00:00.000,0:25,BRONX,10468,NaN,NaN,NaN,NaN,NaN,237 LANDING ROAD,1.0,0.0,1,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,4187268,Sedan,NaN,NaN,NaN,NaN
195,2019-03-29T00:00:00.000,18:45,NaN,NaN,NaN,NaN,NaN,QUEENS MIDTOWN TUNNEL,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Following Too Closely,Unspecified,NaN,NaN,NaN,4108373,Sedan,Pick-up Truck,NaN,NaN,NaN
196,2019-04-10T00:00:00.000,8:20,NaN,NaN,NaN,NaN,NaN,SHORE ROAD,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Fell Asleep,NaN,NaN,NaN,NaN,4112119,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
209,2019-04-08T00:00:00.000,17:15,NaN,NaN,NaN,NaN,NaN,3 AVENUE,HAMILTON AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4111243,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

Seems like those rows have valid data. We wouldn't delete these rows, as the injury/fatality data may be useful, but we would drop them for location purposes.

If we *really* had some time, we would write/find a program to reverse map the `on_street_name` to the other fields.

For now, we'll pivot to take a closer look at vehicle types.

In [9]:
datanyc['vehicle_type_code1'].value_counts().head(20)

PASSENGER VEHICLE                      715236
SPORT UTILITY / STATION WAGON          313500
Sedan                                  160888
Station Wagon/Sport Utility Vehicle    130564
TAXI                                    50670
VAN                                     26540
OTHER                                   23982
PICK-UP TRUCK                           23069
UNKNOWN                                 19929
Taxi                                    16699
SMALL COM VEH(4 TIRES)                  14559
LARGE COM VEH(6 OR MORE TIRES)          14527
BUS                                     14057
Pick-up Truck                           10815
LIVERY VEHICLE                          10481
Box Truck                                8414
Bus                                      6949
MOTORCYCLE                               6536
BICYCLE                                  5568
Bike                                     4020
Name: vehicle_type_code1, dtype: int64

In [10]:
datanyc['vehicle_type_code_3'].value_counts().head(20)

PASSENGER VEHICLE                      63655
SPORT UTILITY / STATION WAGON          33161
Sedan                                  10901
Station Wagon/Sport Utility Vehicle     9035
UNKNOWN                                 3285
TAXI                                    3218
PICK-UP TRUCK                           2292
VAN                                     1489
OTHER                                   1108
Taxi                                     692
Pick-up Truck                            608
BICYCLE                                  533
SMALL COM VEH(4 TIRES)                   479
MOTORCYCLE                               464
LARGE COM VEH(6 OR MORE TIRES)           448
LIVERY VEHICLE                           424
BUS                                      403
Box Truck                                202
Bus                                      127
Motorcycle                               101
Name: vehicle_type_code_3, dtype: int64

It looks like these columns were a text entry field, instead of a select field. It  also appears and that codes 2 through 4 have significantly  fewer values that code 1. The data dictionary doesn't clarify definitively, but we believe these may represent multiple cars. The relative emptiness of codes 1-4 will likely lead us to primarily analyzing `vehicle_type_code1`.

We believe we have a decent understanding of our data. In the next section we will modify the column names to standardize the dataset, deal with missing values, clean duplications, and generally get our dataset to the point where we use it confidently.

## Transforming the Data
 <a id='Transforming'></a>
### What needs attention
####  [Dropping Columns](#Drop)
* Some columns (such as `vehicle_type_code_4`, `contributing_factor_vehicle_5`) are nearly entirely empty. We'll remove those. 
* We will not be using some columns (e.g. `collision_id`, `on_street_name`, `off_street_name`, `cross_street_name`) so we can drop them completely. 


#### [Renaming Data](#Renaming)
* Cleaning and combining duplicate rows
* Renaming some columns
* Correcting misspellings
* Dealing with missing values
* Some dtype changes

#### [Redundant Columns](#Redundant)
* `Latitude` and `longitude` columns seem to be contained in the `location` column. We like keeping the two values separate for now, so we can probably remove `location` later.

#### [Data Types](#data_type)
* The values that we expect to be a 'datetime' type are an 'object' type (`crash_date` and `crash_time` columns). We'll fix those.
* We will change the data type of zip code to string.

#### [Categorizing](#categorizing)
* We are curious to see if collisions go up seasonally, so we'll make a new variable that bins the collisions by Spring (March, April, May), Summer (June, July, August), Fall (September, October, November), and Winter (December, January, February).

## Dropping Columns  <a id='Drop'></a>
We'll begin by removing some columns, keeping only those missing fewer than 30% of their values. We can also drop some columns we know we're not going to use. Those operations are simple enough that we'll do them all before checking in again on the DataFrame.

In [11]:
clean_nyc = datanyc.dropna(thresh=(0.30 * datanyc.shape[0]), axis=1).copy()

In [12]:
clean_nyc.drop(columns=["collision_id", "on_street_name", "off_street_name"], inplace=True)

Let's take a peek at what 'clean_nyc' looks like now, as far as data types and number of columns (and values in those columns):

In [13]:
clean_nyc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1617414 entries, 0 to 1617413
Data columns (total 19 columns):
crash_date                       1617414 non-null object
crash_time                       1617414 non-null object
borough                          1126400 non-null object
zip_code                         1126203 non-null object
latitude                         1420116 non-null float64
longitude                        1420116 non-null float64
location                         1420116 non-null object
number_of_persons_injured        1617397 non-null float64
number_of_persons_killed         1617383 non-null float64
number_of_pedestrians_injured    1617414 non-null int64
number_of_pedestrians_killed     1617414 non-null int64
number_of_cyclist_injured        1617414 non-null int64
number_of_cyclist_killed         1617414 non-null int64
number_of_motorist_injured       1617414 non-null int64
number_of_motorist_killed        1617414 non-null int64
contributing_factor_vehicle_1    1613141 non-null object
contributing_factor_vehicle_2    1399619 non-null object
vehicle_type_code1               1611940 non-null object
vehicle_type_code2               1350034 non-null object
dtypes: float64(4), int64(6), object(9)
memory usage: 234.5+ MB

And what about the percentage of the missing values now?

In [14]:
pd.set_option('display.max_columns', 29)
clean_nyc.isnull().mean().round(4) * 100

crash_date                        0.00
crash_time                        0.00
borough                          30.36
zip_code                         30.37
latitude                         12.20
longitude                        12.20
location                         12.20
number_of_persons_injured         0.00
number_of_persons_killed          0.00
number_of_pedestrians_injured     0.00
number_of_pedestrians_killed      0.00
number_of_cyclist_injured         0.00
number_of_cyclist_killed          0.00
number_of_motorist_injured        0.00
number_of_motorist_killed         0.00
contributing_factor_vehicle_1     0.26
contributing_factor_vehicle_2    13.47
vehicle_type_code1                0.34
vehicle_type_code2               16.53
dtype: float64

So far, so good.

## Correcting Misspellings and Renaming  <a id='Renaming'></a>

We will modify the column names to standardize the dataset using the rename function.

In [15]:
clean_nyc.rename(columns={'vehicle_type_code1':'vehicle_type_code_1',
                        'vehicle_type_code2':'vehicle_type_code_2',
                       }, 
               inplace=True)

Let's take a closer look at `vehicle_type_code_1`.

In [16]:
clean_nyc['vehicle_type_code_1'].value_counts().head(40)

PASSENGER VEHICLE                      715236
SPORT UTILITY / STATION WAGON          313500
Sedan                                  160888
Station Wagon/Sport Utility Vehicle    130564
TAXI                                    50670
VAN                                     26540
OTHER                                   23982
PICK-UP TRUCK                           23069
UNKNOWN                                 19929
Taxi                                    16699
SMALL COM VEH(4 TIRES)                  14559
LARGE COM VEH(6 OR MORE TIRES)          14527
BUS                                     14057
Pick-up Truck                           10815
LIVERY VEHICLE                          10481
Box Truck                                8414
Bus                                      6949
MOTORCYCLE                               6536
BICYCLE                                  5568
Bike                                     4020
Tractor Truck Diesel                     3666
Van                                      2837
TK                                       2485
AMBULANCE                                2406
BU                                       2229
Motorcycle                               2035
Convertible                              1378
Dump                                     1253
DS                                       1006
Ambulance                                 994
4 dr sedan                                906
PK                                        853
FIRE TRUCK                                850
Flat Bed                                  807
Garbage or Refuse                         757
VN                                        712
Carry All                                 627
Tractor Truck Gasoline                    525
Tow Truck / Wrecker                       427
CONV                                      398
Name: vehicle_type_code_1, dtype: int64

It looks like there are misspellings and duplicates. Let's see if we can combine some of the obvious misspellings.

In [17]:
clean_nyc['vehicle_type_code_1'].replace('SPORT UTILITY / STATION WAGON', 'SUV', inplace=True)
clean_nyc['vehicle_type_code_1'].replace('Station Wagon/Sport Utility Vehicle', 'SUV', inplace=True)
clean_nyc['vehicle_type_code_1'].replace('TAXI', 'Taxi', inplace=True)
clean_nyc['vehicle_type_code_1'].replace('Bike', 'BICYCLE', inplace=True)
clean_nyc['vehicle_type_code_1'].replace('VAN', 'Van', inplace=True)
clean_nyc['vehicle_type_code_1'].replace('Motorscooter', 'SCOOTER', inplace=True)
clean_nyc['vehicle_type_code_1'].replace('Moped', 'SCOOTER', inplace=True)
clean_nyc['vehicle_type_code_1'].replace('van', 'Van', inplace=True)
clean_nyc['vehicle_type_code_1'].replace('MOTORCYCLE', 'Motorcycle', inplace=True)
clean_nyc['vehicle_type_code_1'].replace('AMBULANCE', 'Ambulance', inplace=True)
clean_nyc['vehicle_type_code_1'].replace('Refrigerated Van', 'Van', inplace=True)
clean_nyc['vehicle_type_code_1'].replace('PICK-UP TRUCK', 'Pick-up Truck', inplace=True)
clean_nyc['vehicle_type_code_1'].replace('Motorbike', 'Motorcycle', inplace=True)
clean_nyc['vehicle_type_code_1'].replace('AMBUL', 'Ambulance', inplace=True)
clean_nyc['vehicle_type_code_1'].replace('CAB', 'Taxi', inplace=True)
clean_nyc['vehicle_type_code_1'].replace('Cab', 'Taxi', inplace=True)
clean_nyc['vehicle_type_code_1'].replace('VAN T', 'Van', inplace=True)
clean_nyc['vehicle_type_code_1'].replace('VAN/T', 'Van', inplace=True)
clean_nyc['vehicle_type_code_1'].replace('van t', 'Van', inplace=True)
clean_nyc['vehicle_type_code_1'].replace('VAN', 'Van', inplace=True)
clean_nyc['vehicle_type_code_1'].replace('Ambul', 'Ambulance', inplace=True)
clean_nyc['vehicle_type_code_1'].replace('AMB', 'Ambulance', inplace=True)
clean_nyc['vehicle_type_code_1'].replace('Ambu', 'Ambulance', inplace=True)
clean_nyc['vehicle_type_code_1'].replace('ambul', 'Ambulance', inplace=True)
clean_nyc['vehicle_type_code_1'].replace('Ambu', 'Ambulance', inplace=True)
clean_nyc['vehicle_type_code_1'].replace('Fire', 'FIRE TRUCK', inplace=True)
clean_nyc['vehicle_type_code_1'].replace('fire', 'FIRE TRUCK', inplace=True)
clean_nyc['vehicle_type_code_1'].replace('FIRE', 'FIRE TRUCK', inplace=True)
clean_nyc['vehicle_type_code_1'].replace('FIRET', 'FIRE TRUCK', inplace=True)
clean_nyc['vehicle_type_code_1'].replace('FDNY', 'FIRE TRUCK', inplace=True)
clean_nyc['vehicle_type_code_1'].replace('Other', 'Unknown', inplace=True)
clean_nyc['vehicle_type_code_1'].replace('BUS', 'Bus', inplace=True)
clean_nyc['vehicle_type_code_1'].replace('Box T', 'Box Truck', inplace=True)
clean_nyc['vehicle_type_code_1'].replace('GARBA', 'Garbage or Refuse', inplace=True)
clean_nyc['vehicle_type_code_1'].replace('taxi', 'Taxi', inplace=True)
clean_nyc['vehicle_type_code_1'].replace('taxy', 'Taxi', inplace=True)
clean_nyc['vehicle_type_code_1'].replace('AM', 'Ambulance', inplace=True)
clean_nyc['vehicle_type_code_1'].replace('VN', 'Van', inplace=True)
clean_nyc['vehicle_type_code_1'].replace('CONV', 'Convertible', inplace=True)
clean_nyc['vehicle_type_code_1'].replace('Garbage or Refuse', 'Dump', inplace=True)
clean_nyc['vehicle_type_code_1'].replace('OTHER', 'UNKNOWN', inplace=True)
clean_nyc['vehicle_type_code_1'].value_counts().head(50)

PASSENGER VEHICLE                 715236
SUV                               444070
Sedan                             160888
Taxi                               67370
UNKNOWN                            43911
Pick-up Truck                      33884
Van                                30442
Bus                                21006
SMALL COM VEH(4 TIRES)             14559
LARGE COM VEH(6 OR MORE TIRES)     14527
LIVERY VEHICLE                     10481
BICYCLE                             9588
Motorcycle                          8695
Box Truck                           8417
Ambulance                           4045
Tractor Truck Diesel                3666
TK                                  2485
BU                                  2229
Dump                                2017
Convertible                         1776
FIRE TRUCK                          1061
DS                                  1006
4 dr sedan                           906
PK                                   853
Flat Bed                             807
SCOOTER                              677
Carry All                            627
Tractor Truck Gasoline               525
Tow Truck / Wrecker                  427
DP                                   367
Tanker                               262
Chassis Cab                          259
FB                                   238
GG                                   205
Concrete Mixer                       174
LL                                   169
TR                                   160
TT                                   130
Flat Rack                            126
E-Sco                                117
Armored Truck                        117
TRAIL                                110
TRUCK                                101
Beverage Truck                        99
E-Bik                                 92
CB                                    89
3-Door                                89
Lift Boom                             77
TN                                    77
LIMO                                  59
Name: vehicle_type_code_1, dtype: int64

Even in one column we can see how much variation there is. We would suggest that whoever created this dataset turns this from a "fill in the blank" text field to a select field from a predetermined list, to get better data fidelity, and we hope by this point, you can see why.

Now let's look at `contributing_factor_vehicle_1` and `contributing_factor_vehicle_2`.

In [18]:
clean_nyc['contributing_factor_vehicle_1'].unique()

array(['View Obstructed/Limited', 'Unspecified',
       'Reaction to Uninvolved Vehicle', 'Driver Inattention/Distraction',
       'Passing Too Closely', 'Failure to Yield Right-of-Way',
       'Traffic Control Disregarded', 'Driver Inexperience',
       'Other Vehicular', 'Passenger Distraction',
       'Following Too Closely', 'Backing Unsafely',
       'Pedestrian/Bicyclist/Other Pedestrian Error/Confusion',
       'Unsafe Lane Changing', 'Turning Improperly',
       'Tire Failure/Inadequate', 'Passing or Lane Usage Improper',
       'Alcohol Involvement', 'Lost Consciousness', 'Brakes Defective',
       'Fell Asleep', 'Failure to Keep Right', 'Obstruction/Debris',
       'Illnes', 'Oversized Vehicle', 'Unsafe Speed',
       'Aggressive Driving/Road Rage', 'Cell Phone (hand-Held)',
       'Tinted Windows', 'Glare', 'Drugs (illegal)', 'Pavement Slippery',
       'Steering Failure', 'Animals Action', 'Pavement Defective',
       'Driverless/Runaway Vehicle', nan, 'Outside Car Distraction',
       'Physical Disability', 'Lane Marking Improper/Inadequate',
       'Accelerator Defective', 'Fatigued/Drowsy',
       'Traffic Control Device Improper/Non-Working',
       'Tow Hitch Defective', 'Vehicle Vandalism', 'Headlights Defective',
       'Prescription Medication', 'Other Electronic Device',
       'Other Lighting Defects', 'Using On Board Navigation Device',
       'Shoulders Defective/Improper', 'Eating or Drinking', 'Texting',
       'Cell Phone (hands-free)', 'Windshield Inadequate',
       'Listening/Using Headphones', 'Illness',
       'Reaction to Other Uninvolved Vehicle', 'Drugs (Illegal)',
       'Cell Phone (hand-held)', '80', '1'], dtype=object)

In [19]:
clean_nyc['contributing_factor_vehicle_2'].unique()

array([nan, 'Unspecified', 'Driver Inattention/Distraction',
       'Listening/Using Headphones', 'Reaction to Uninvolved Vehicle',
       'Other Vehicular', 'Backing Unsafely',
       'Passing or Lane Usage Improper', 'Following Too Closely',
       'Failure to Yield Right-of-Way', 'Oversized Vehicle',
       'Passing Too Closely', 'Aggressive Driving/Road Rage',
       'View Obstructed/Limited', 'Alcohol Involvement',
       'Unsafe Lane Changing', 'Turning Improperly',
       'Driver Inexperience', 'Outside Car Distraction', 'Unsafe Speed',
       'Traffic Control Disregarded', 'Passenger Distraction',
       'Lane Marking Improper/Inadequate', 'Obstruction/Debris',
       'Pedestrian/Bicyclist/Other Pedestrian Error/Confusion',
       'Driverless/Runaway Vehicle', 'Pavement Slippery',
       'Traffic Control Device Improper/Non-Working', 'Glare',
       'Failure to Keep Right', 'Eating or Drinking',
       'Other Lighting Defects', 'Illnes', 'Cell Phone (hands-free)',
       'Texting', 'Tire Failure/Inadequate', 'Pavement Defective',
       'Tinted Windows', 'Brakes Defective', 'Fell Asleep',
       'Steering Failure', 'Cell Phone (hand-Held)', 'Animals Action',
       'Headlights Defective', 'Accelerator Defective', 'Fatigued/Drowsy',
       'Using On Board Navigation Device', 'Tow Hitch Defective',
       'Drugs (illegal)', 'Prescription Medication',
       'Other Electronic Device', 'Shoulders Defective/Improper',
       'Lost Consciousness', 'Vehicle Vandalism', 'Physical Disability',
       'Windshield Inadequate', 'Illness',
       'Reaction to Other Uninvolved Vehicle', 'Drugs (Illegal)',
       'Cell Phone (hand-held)', '1', '80'], dtype=object)

They have similar factors and there seem to be a lot of unique values. We want to just focus on `contributing_factor_vehicle_1` in this project. 

We'll now perform some categorization in `contributing_factor_vehicle_1` to make our analysis a little bit easier.

In [20]:
clean_nyc['contributing_factor_vehicle_1'].replace({'Backing Unsafely': 'Traffic Recklessness', 
                                                  'Unsafe Speed': 'Traffic Recklessness', 
                                                 'Passing or Lane Usage Improper': 'Traffic Recklessness',
                                                 'Turning Improperly': 'Traffic Recklessness',
                                                 'Following Too Closely': 'Traffic Recklessness',
                                                 'Passing Too Closely' : 'Traffic Recklessness',
                                                 'Outside Car Distraction': 'Traffic Recklessness',
                                                 'Steering Failure': 'Traffic Recklessness',
                                                 'Reaction to Uninvolved Vehicle': 'Traffic Recklessness',
                                                 'Traffic Control Disregarded': 'Traffic Recklessness',
                                                 'Failure to Yield Right-of-Way': 'Traffic Recklessness',
                                                 'Aggressive Driving/Road Rage': 'Traffic Recklessness',
                                                 'Unsafe Lane Changing': 'Traffic Recklessness',
                                                 'Driver Inexperience': 'Traffic Recklessness',
                                                  
                                                 'Passenger Distraction': 'Driver Inattention/Distraction',
                                                 'Failure to Keep Right': 'Driver Inattention/Distraction',
                                                 'Eating or Drinking': 'Driver Inattention/Distraction',
                                                 'Animals Action': 'Driver Inattention/Distraction',
                                                 'Using On Board Navigation Device': 'Driver Inattention/Distraction',
                                                 'Reaction to Other Uninvolved Vehicle': 'Driver Inattention/Distraction',
                                                 'Cell Phone (hands-free)': 'Driver Inattention/Distraction',
                                                 'Cell Phone (hand-Held)': 'Driver Inattention/Distraction',
                                                 'Other Electronic Device': 'Driver Inattention/Distraction',
                                                 'Cell Phone (hand-held)': 'Driver Inattention/Distraction',
                                                 'Texting': 'Driver Inattention/Distraction',
                                                 'Listening/Using Headphones': 'Driver Inattention/Distraction',
                                                 'Fatigued/Drowsy': 'Driver Inattention/Distraction',
                                                 'Fell Asleep': 'Driver Inattention/Distraction',
                                                  
                                                  
                                                 'Brakes Defective': 'Car Defects',
                                                 'Tinted Windows': 'Car Defects',
                                                 'Tire Failure/Inadequate': 'Car Defects',
                                                 'Tow Hitch Defective': 'Car Defects',
                                                 'Headlights Defective': 'Car Defects',
                                                 'Accelerator Defective': 'Car Defects',
                                                 'Windshield Inadequate': 'Car Defects',
                                                 'Driverless/Runaway Vehicle': 'Car Defects',
                                                 'Oversized Vehicle': 'Car Defects',

                                                  
                                                 'Traffic Control Disregarded':'Road Defects',
                                                 'Glare':'Road Defects',
                                                 'Tinted Windows':'Road Defects',
                                                 'Lane Marking Improper/Inadequate': 'Road Defects',
                                                 'View Obstructed/Limited': 'Road Defects',
                                                 'Pavement Defective': 'Road Defects',
                                                 'Other Lighting Defects': 'Road Defects',
                                                 'Obstruction/Debris': 'Road Defects',
                                                 'Traffic Control Device Improper/Non-Working': 'Road Defects',
                                                 'Shoulders Defective/Improper': 'Road Defects',
                                                 'Pavement Slippery': 'Road Defects',
                                                  
                                                 'Illnes': 'Illness',
                                                 'Lost Consciousness': 'Illness',
                                                 'Physical Disability': 'Illness',
                                                 'Prescription Medication': 'Illness',
                                                  
                                                 'Drugs (illegal)': 'Drugs (Illegal)',
                                                 'Alcohol Involvement': 'Drugs (Illegal)',
                                                  
                                                 'Pedestrian/Bicyclist/Other Pedestrian Error/Confusion': 'Outside Error',
                                                 'Vehicle Vandalism': 'Outside Error',
                                                 'Other Vehicular': 'Outside Error',
                                                  
                                                 }, inplace=True)

In [21]:
clean_nyc['contributing_factor_vehicle_1'].unique()

array(['Road Defects', 'Unspecified', 'Traffic Recklessness',
       'Driver Inattention/Distraction', 'Outside Error', 'Car Defects',
       'Drugs (Illegal)', 'Illness', nan, '80', '1'], dtype=object)

We will drop '80' and '1' since we do not know what they represent. We will also drop the 'nan' and 'unspecified' values, since they carry no information at this point. That will also make visualizations easier.

In [22]:
nyc80 = clean_nyc[clean_nyc['contributing_factor_vehicle_1'] == '80' ].index
clean_nyc.drop(nyc80, inplace=True)

nyc1 = clean_nyc[clean_nyc['contributing_factor_vehicle_1'] == '1' ].index
clean_nyc.drop(nyc1, inplace=True)

dropunspecified = clean_nyc[clean_nyc['contributing_factor_vehicle_1'] == 'Unspecified' ].index
clean_nyc.drop(dropunspecified, inplace=True)

clean_nyc.dropna(subset = ['contributing_factor_vehicle_1'], how='all', inplace=True)

clean_nyc['contributing_factor_vehicle_1'].unique()

array(['Road Defects', 'Traffic Recklessness',
       'Driver Inattention/Distraction', 'Outside Error', 'Car Defects',
       'Drugs (Illegal)', 'Illness'], dtype=object)

Next, we will rename some of the columns to make things easier while analyzing the data.

In [23]:
clean_nyc.rename(columns={'number_of_persons_injured' : 'persons_injured',
                        'number_of_persons_killed' : 'persons_killed',
                        'number_of_pedestrians_injured' : 'pedestrians_injured',
                        'number_of_pedestrians_killed' : 'pedestrians_killed',
                        'number_of_cyclist_injured' : 'cyclist_injured',
                        'number_of_cyclist_killed' : 'cyclist_killed',
                        'number_of_motorist_injured'  : 'motorist_injured',
                        'number_of_motorist_killed' : 'motorist_killed'},inplace=True)
clean_nyc.head()

,crash_date,crash_time,borough,zip_code,latitude,longitude,location,persons_injured,persons_killed,pedestrians_injured,pedestrians_killed,cyclist_injured,cyclist_killed,motorist_injured,motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,vehicle_type_code_1,vehicle_type_code_2
0,2019-04-06T00:00:00.000,13:00,STATEN ISLAND,10306,40.571987,-74.108230,POINT (-74.10823 40.571987),1.0,0.0,1,0,0,0,0,0,Road Defects,NaN,Sedan,NaN
3,2019-04-03T00:00:00.000,8:55,STATEN ISLAND,10301,40.644073,-74.077774,POINT (-74.077774 40.644073),1.0,0.0,1,0,0,0,0,0,Traffic Recklessness,NaN,Sedan,NaN
4,2019-04-03T00:00:00.000,9:31,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,Sedan,Sedan
5,2019-04-20T00:00:00.000,16:00,BROOKLYN,11203,40.651604,-73.933304,POINT (-73.933304 40.651604),0.0,0.0,0,0,0,0,0,0,Traffic Recklessness,Unspecified,SUV,Sedan
13,2019-04-18T00:00:00.000,18:58,QUEENS,11418,40.699356,-73.842350,POINT (-73.84235 40.699356),1.0,0.0,1,0,0,0,0,0,Traffic Recklessness,NaN,Sedan,NaN

Next, we want to change our values to lowercase letters because having all the values in the same format will make it easier to read and also it can be useful while making analysis (e.g. we can just type the value without thinking whether that value was lower case or upper case letters).

In [24]:
clean_nyc1 = clean_nyc.applymap(lambda s:s.lower() if type(s) == str else s)
clean_nyc1.head()

,crash_date,crash_time,borough,zip_code,latitude,longitude,location,persons_injured,persons_killed,pedestrians_injured,pedestrians_killed,cyclist_injured,cyclist_killed,motorist_injured,motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,vehicle_type_code_1,vehicle_type_code_2
0,2019-04-06t00:00:00.000,13:00,staten island,10306,40.571987,-74.108230,point (-74.10823 40.571987),1.0,0.0,1,0,0,0,0,0,road defects,NaN,sedan,NaN
3,2019-04-03t00:00:00.000,8:55,staten island,10301,40.644073,-74.077774,point (-74.077774 40.644073),1.0,0.0,1,0,0,0,0,0,traffic recklessness,NaN,sedan,NaN
4,2019-04-03t00:00:00.000,9:31,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0,0,0,0,0,driver inattention/distraction,unspecified,sedan,sedan
5,2019-04-20t00:00:00.000,16:00,brooklyn,11203,40.651604,-73.933304,point (-73.933304 40.651604),0.0,0.0,0,0,0,0,0,0,traffic recklessness,unspecified,suv,sedan
13,2019-04-18t00:00:00.000,18:58,queens,11418,40.699356,-73.842350,point (-73.84235 40.699356),1.0,0.0,1,0,0,0,0,0,traffic recklessness,NaN,sedan,NaN

## Redundant Columns: 'latitude' and 'longitude' <a id='Redundant'></a>

We suspect the `location` column is simply a concatenation of `latitude` and `longitude` columns. Let's check the data dictionary to see whether we can gain some information about it.

In [25]:
data_dict[5:8]

,Table Name,Column Name,Column Description,Primary Key or Foreign Key,"Additional Notes (where applicable, includes the range of possible values, units of measure, how to interpret null/zero values, whether there are specific relationships between columns, and/or information on column source)"
5,MV-Collisions - Crash,LATITUDE,Latitude coordinate for Global Coordinate Syst...,NaN,NaN
6,MV-Collisions - Crash,LONGITUDE,Longitude coordinate for Global Coordinate Sys...,NaN,NaN
7,MV-Collisions - Crash,LOCATION,"Latitude , Longitude pair",NaN,NaN

When we look at the `LOCATION` column (row 7) we see that it is described as "Latitude , Longitude pair". We are probably right but let's verify it even further.

In [26]:
clean_nyc1[["latitude", "longitude", "location"]].head(30)

     latitude  longitude                      location
0   40.571987 -74.108230   point (-74.10823 40.571987)
3   40.644073 -74.077774  point (-74.077774 40.644073)
4         NaN        NaN                           NaN
5   40.651604 -73.933304  point (-73.933304 40.651604)
13  40.699356 -73.842350   point (-73.84235 40.699356)
14  40.888820 -73.843056   point (-73.843056 40.88882)
15  40.664250 -73.930040    point (-73.93004 40.66425)
16  40.671032 -73.939270   point (-73.93927 40.671032)
17        NaN        NaN                           NaN
18  40.790840 -73.974570    point (-73.97457 40.79084)
19  40.816080 -73.917694   point (-73.917694 40.81608)
20  40.747770 -73.815994   point (-73.815994 40.74777)
22  40.674470 -73.737200     point (-73.7372 40.67447)
24  40.613510 -74.012990    point (-74.01299 40.61351)
25  40.605328 -73.990295  point (-73.990295 40.605328)
26  40.740990 -73.879906   point (-73.879906 40.74099)
27  40.847027 -73.898070   point (-73.89807 40.847027)
28  40.724690 -73.978424   point (-73.978424 40.72469)
29  40.716300 -74.010970     point (-74.01097 40.7163)
30  40.749714 -73.936170   point (-73.93617 40.749714)
32  40.784534 -73.973600    point (-73.9736 40.784534)
33  40.779186 -73.978910   point (-73.97891 40.779186)
34  40.709385 -73.869610   point (-73.86961 40.709385)
35  40.671400 -73.991100      point (-73.9911 40.6714)
36  40.757310 -73.883790    point (-73.88379 40.75731)
38  40.728840 -73.878180    point (-73.87818 40.72884)
39  40.810516 -73.910060   point (-73.91006 40.810516)
40  40.675694 -73.779330   point (-73.77933 40.675694)
42        NaN        NaN                           NaN
43  40.699390 -73.919380    point (-73.91938 40.69939)

Yes, that seems to be right but before we quickly do something we might regret, let's first see if it's true that all the `location` data follows the same pattern we see right now:

In [27]:
clean_nyc1['location'].str.match('POINT \(-7\d\.\d+ \d{2}\.\d+\)', na=False).value_counts()

False    1019917
Name: location, dtype: int64

1,017,028 rows where that's not the case! More than we expected! Let's check them out.

In [28]:
clean_nyc1[~clean_nyc1['location'].str.match('POINT \(-7\d\.\d+ \d{2}\.\d+\)', na=False)].head(30)

,crash_date,crash_time,borough,zip_code,latitude,longitude,location,persons_injured,persons_killed,pedestrians_injured,pedestrians_killed,cyclist_injured,cyclist_killed,motorist_injured,motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,vehicle_type_code_1,vehicle_type_code_2
0,2019-04-06t00:00:00.000,13:00,staten island,10306,40.571987,-74.108230,point (-74.10823 40.571987),1.0,0.0,1,0,0,0,0,0,road defects,NaN,sedan,NaN
3,2019-04-03t00:00:00.000,8:55,staten island,10301,40.644073,-74.077774,point (-74.077774 40.644073),1.0,0.0,1,0,0,0,0,0,traffic recklessness,NaN,sedan,NaN
4,2019-04-03t00:00:00.000,9:31,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0,0,0,0,0,driver inattention/distraction,unspecified,sedan,sedan
5,2019-04-20t00:00:00.000,16:00,brooklyn,11203,40.651604,-73.933304,point (-73.933304 40.651604),0.0,0.0,0,0,0,0,0,0,traffic recklessness,unspecified,suv,sedan
13,2019-04-18t00:00:00.000,18:58,queens,11418,40.699356,-73.842350,point (-73.84235 40.699356),1.0,0.0,1,0,0,0,0,0,traffic recklessness,NaN,sedan,NaN
14,2019-04-21t00:00:00.000,14:10,bronx,10466,40.888820,-73.843056,point (-73.843056 40.88882),0.0,0.0,0,0,0,0,0,0,road defects,unspecified,pick-up truck,station wagon/sport utility vehicle
15,2019-04-11t00:00:00.000,16:00,brooklyn,11213,40.664250,-73.930040,point (-73.93004 40.66425),0.0,0.0,0,0,0,0,0,0,traffic recklessness,unspecified,sedan,NaN
16,2019-03-29t00:00:00.000,8:25,NaN,NaN,40.671032,-73.939270,point (-73.93927 40.671032),0.0,0.0,0,0,0,0,0,0,traffic recklessness,driver inattention/distraction,sedan,sedan
17,2019-03-29t00:00:00.000,1:50,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0,0,0,0,0,outside error,NaN,sedan,NaN
18,2019-03-30t00:00:00.000,13:00,NaN,NaN,40.790840,-73.974570,point (-73.97457 40.79084),1.0,0.0,0,0,0,0,1,0,driver inattention/distraction,unspecified,convertible,convertible
19,2019-04-17t00:00:00.000,20:30,NaN,NaN,40.816080,-73.917694,point (-73.917694 40.81608),0.0,0.0,0,0,0,0,0,0,driver inattention/distraction,unspecified,sedan,sedan
20,2019-04-22t00:00:00.000,10:16,queens,11355,40.747770,-73.815994,point (-73.815994 40.74777),0.0,0.0,0,0,0,0,0,0,traffic recklessness,unspecified,suv,station wagon/sport utility vehicle
22,2019-04-22t00:00:00.000,18:20,queens,11422,40.674470,-73.737200,point (-73.7372 40.67447),0.0,0.0,0,0,0,0,0,0,traffic recklessness,unspecified,suv,station wagon/sport utility vehicle
24,2019-04-04t00:00:00.000,18:30,brooklyn,11228,40.613510,-74.012990,point (-74.01299 40.61351),0.0,0.0,0,0,0,0,0,0,driver inattention/distraction,unspecified,pick-up truck,sedan
25,2019-04-05t00:00:00.000,19:46,NaN,NaN,40.605328,-73.990295,point (-73.990295 40.605328),0.0,0.0,0,0,0,0,0,0,driver inattention/distraction,unspecified,suv,sedan
26,2019-04-11t00:00:00.000,11:42,queens,11373,40.740990,-73.879906,point (-73.879906 40.74099),0.0,0.0,0,0,0,0,0,0,driver inattention/distraction,unspecified,sedan,pick-up truck
27,2019-04-19t00:00:00.000,13:20,bronx,10457,40.847027,-73.898070,point (-73.89807 40.847027),0.0,0.0,0,0,0,0,0,0,outside error,unspecified,suv,sedan
28,2019-04-09t00:00:00.000,21:12,manhattan,10009,40.724690,-73.978424,point (-73.978424 40.72469),1.0,0.0,0,0,1,0,0,0,outside error,listening/using headphones,taxi,bike
29,2019-03-29t00:00:00.000,22:47,manhattan,10007,40.716300,-74.010970,point (-74.01097 40.7163),0.0,0.0,0,0,0,0,0,0,driver inattention/distraction,unspecified,van,taxi
30,2019-04-15t00:00:00.000,21:00,NaN,NaN,40.749714,-73.936170,point (-73.93617 40.749714),0.0,0.0,0,0,0,0,0,0,driver inattention/distraction,driver inattention/distraction,sedan,station wagon/sport utility vehicle
32,2019-04-09t00:00:00.000,9:40,NaN,NaN,40.784534,-73.973600,point (-73.9736 40.784534),0.0,0.0,0,0,0,0,0,0,traffic recklessness,unspecified,suv,box truck
33,2019-04-14t00:00:00.000,14:40,manhattan,10023,40.779186,-73.978910,point (-73.97891 40.779186),0.0,0.0,0,0,0,0,0,0,driver inattention/distraction,unspecified,sedan,sedan
34,2019-04-04t00:00:00.000,13:00,queens,11385,40.709385,-73.869610,point (-73.86961 40.709385),1.0,0.0,1,0,0,0,0,0,traffic recklessness,NaN,suv,NaN
35,2019-04-15t00:00:00.000,12:00,brooklyn,11215,40.671400,-73.991100,point (-73.9911 40.6714),0.0,0.0,0,0,0,0,0,0,driver inattention/distraction,unspecified,motorcycle,station wagon/sport utility vehicle
36,2019-04-01t00:00:00.000,17:00,queens,11370,40.757310,-73.883790,point (-73.88379 40.75731),0.0,0.0,0,0,0,0,0,0,traffic recklessness,unspecified,pick-up truck,sedan
38,2019-04-08t00:00:00.000,18:30,queens,11379,40.728840,-73.878180,point (-73.87818 40.72884),0.0,0.0,0,0,0,0,0,0,outside error,unspecified,van,pick-up truck
39,2019-04-05t00:00:00.000,13:11,bronx,10455,40.810516,-73.910060,point (-73.91006 40.810516),0.0,0.0,0,0,0,0,0,0,traffic recklessness,unspecified,suv,station wagon/sport utility vehicle
40,2019-04-24t00:00:00.000,16:12,queens,11434,40.675694,-73.779330,point (-73.77933 40.675694),0.0,0.0,0,0,0,0,0,0,traffic recklessness,unspecified,sedan,sedan
42,2019-04-18t00:00:00.000,18:00,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0,0,0,0,0,traffic recklessness,unspecified,suv,sedan
43,2019-04-16t00:00:00.000,12:59,brooklyn,11237,40.699390,-73.919380,point (-73.91938 40.69939),0.0,0.0,0,0,0,0,0,0,outside error,unspecified,bicycle,station wagon/sport utility vehicle

Ahh those sweet missing values... As we've seen earlier, `latitude`, `longitude` and `location` columns have 12% of their values missing each. So far, as far as we can understand and as the data dictionary points it out, the `location` column is simply a concatenation of `latitude` and `longitude` columns. Let's drop the `location` column.

In [29]:
clean_nyc1.drop(columns="location", inplace = True)

Finally, let's take a peek at our cleaned data.

In [30]:
clean_nyc1.head()

,crash_date,crash_time,borough,zip_code,latitude,longitude,persons_injured,persons_killed,pedestrians_injured,pedestrians_killed,cyclist_injured,cyclist_killed,motorist_injured,motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,vehicle_type_code_1,vehicle_type_code_2
0,2019-04-06t00:00:00.000,13:00,staten island,10306,40.571987,-74.108230,1.0,0.0,1,0,0,0,0,0,road defects,NaN,sedan,NaN
3,2019-04-03t00:00:00.000,8:55,staten island,10301,40.644073,-74.077774,1.0,0.0,1,0,0,0,0,0,traffic recklessness,NaN,sedan,NaN
4,2019-04-03t00:00:00.000,9:31,NaN,NaN,NaN,NaN,0.0,0.0,0,0,0,0,0,0,driver inattention/distraction,unspecified,sedan,sedan
5,2019-04-20t00:00:00.000,16:00,brooklyn,11203,40.651604,-73.933304,0.0,0.0,0,0,0,0,0,0,traffic recklessness,unspecified,suv,sedan
13,2019-04-18t00:00:00.000,18:58,queens,11418,40.699356,-73.842350,1.0,0.0,1,0,0,0,0,0,traffic recklessness,NaN,sedan,NaN

## Data Type <a id='data_type'></a>

Let's look at our dates to make sure they are all in the same format:

In [31]:
clean_nyc1[['crash_date', 'crash_time']].head()

                 crash_date crash_time
0   2019-04-06t00:00:00.000      13:00
3   2019-04-03t00:00:00.000       8:55
4   2019-04-03t00:00:00.000       9:31
5   2019-04-20t00:00:00.000      16:00
13  2019-04-18t00:00:00.000      18:58

The `crash_date` column definitely needs some fixing. We will transform the string timestamp for `crash_date` to a true datetime data type.

In [32]:
clean_nyc1['crash_date'] = pd.to_datetime(clean_nyc1['crash_date'])
clean_nyc1.head()

,crash_date,crash_time,borough,zip_code,latitude,longitude,persons_injured,persons_killed,pedestrians_injured,pedestrians_killed,cyclist_injured,cyclist_killed,motorist_injured,motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,vehicle_type_code_1,vehicle_type_code_2
0,2019-04-06,13:00,staten island,10306,40.571987,-74.108230,1.0,0.0,1,0,0,0,0,0,road defects,NaN,sedan,NaN
3,2019-04-03,8:55,staten island,10301,40.644073,-74.077774,1.0,0.0,1,0,0,0,0,0,traffic recklessness,NaN,sedan,NaN
4,2019-04-03,9:31,NaN,NaN,NaN,NaN,0.0,0.0,0,0,0,0,0,0,driver inattention/distraction,unspecified,sedan,sedan
5,2019-04-20,16:00,brooklyn,11203,40.651604,-73.933304,0.0,0.0,0,0,0,0,0,0,traffic recklessness,unspecified,suv,sedan
13,2019-04-18,18:58,queens,11418,40.699356,-73.842350,1.0,0.0,1,0,0,0,0,0,traffic recklessness,NaN,sedan,NaN

We also want to create a new column which will carry the values for hours only. We think that can be helpful when grouping the times and visualizing the data. We will create a new column called `hour` in which we will only have the hours instead of hours and minutes.

In [33]:
clean_nyc1['crash_time'] = pd.to_datetime(clean_nyc1.crash_time)
clean_nyc1['hour'] = clean_nyc1['crash_time'].dt.hour
clean_nyc1.head()

,crash_date,crash_time,borough,zip_code,latitude,longitude,persons_injured,persons_killed,pedestrians_injured,pedestrians_killed,cyclist_injured,cyclist_killed,motorist_injured,motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,vehicle_type_code_1,vehicle_type_code_2,hour
0,2019-04-06,2019-12-09 13:00:00,staten island,10306,40.571987,-74.108230,1.0,0.0,1,0,0,0,0,0,road defects,NaN,sedan,NaN,13
3,2019-04-03,2019-12-09 08:55:00,staten island,10301,40.644073,-74.077774,1.0,0.0,1,0,0,0,0,0,traffic recklessness,NaN,sedan,NaN,8
4,2019-04-03,2019-12-09 09:31:00,NaN,NaN,NaN,NaN,0.0,0.0,0,0,0,0,0,0,driver inattention/distraction,unspecified,sedan,sedan,9
5,2019-04-20,2019-12-09 16:00:00,brooklyn,11203,40.651604,-73.933304,0.0,0.0,0,0,0,0,0,0,traffic recklessness,unspecified,suv,sedan,16
13,2019-04-18,2019-12-09 18:58:00,queens,11418,40.699356,-73.842350,1.0,0.0,1,0,0,0,0,0,traffic recklessness,NaN,sedan,NaN,18

We'll also clean up the `zip_code` column, which should have string values, not integer.

In [34]:
clean_nyc1.loc[:,'zip_code'] = clean_nyc1['zip_code'].astype(str)

## Categorizing<a id='categorizing'></a>: Making a Seasons Variable

We are interested in adding a variable that shows the season in which a collision occurred.

In [35]:
clean_nyc1['crash_date'].dt.month.head(30)

0     4
3     4
4     4
5     4
13    4
14    4
15    4
16    3
17    3
18    3
19    4
20    4
22    4
24    4
25    4
26    4
27    4
28    4
29    3
30    4
32    4
33    4
34    4
35    4
36    4
38    4
39    4
40    4
42    4
43    4
Name: crash_date, dtype: int64

In [36]:
def season(crash_date):
    if crash_date.month in ([3, 4, 5]):
        val = 'Spring'
    elif crash_date.month in ([6, 7, 8]):
        val = 'Summer'
    elif crash_date.month in ([9, 10, 11]):
        val = 'Autumn'
    elif crash_date.month in ([12, 1, 2]):
        val = 'Winter'
    else:
        val = "Unspecified"
    return val

clean_nyc1['season'] = clean_nyc1['crash_date'].apply(season)

In [37]:
clean_nyc1['season'].value_counts()

Autumn    278172
Summer    273570
Spring    246130
Winter    222045
Name: season, dtype: int64

Before we move on to the analysis of our dataset, we would like to take a quick look at the difference our work has made so far.

In [38]:
datanyc.shape

(1617414, 29)

In [39]:
clean_nyc1.shape

(1019917, 20)

We've reduced our data by 9 columns. Let's take a general look at our data as well as the 'info'.

In [40]:
clean_nyc1.head()

,crash_date,crash_time,borough,zip_code,latitude,longitude,persons_injured,persons_killed,pedestrians_injured,pedestrians_killed,cyclist_injured,cyclist_killed,motorist_injured,motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,vehicle_type_code_1,vehicle_type_code_2,hour,season
0,2019-04-06,2019-12-09 13:00:00,staten island,10306,40.571987,-74.108230,1.0,0.0,1,0,0,0,0,0,road defects,NaN,sedan,NaN,13,Spring
3,2019-04-03,2019-12-09 08:55:00,staten island,10301,40.644073,-74.077774,1.0,0.0,1,0,0,0,0,0,traffic recklessness,NaN,sedan,NaN,8,Spring
4,2019-04-03,2019-12-09 09:31:00,NaN,nan,NaN,NaN,0.0,0.0,0,0,0,0,0,0,driver inattention/distraction,unspecified,sedan,sedan,9,Spring
5,2019-04-20,2019-12-09 16:00:00,brooklyn,11203,40.651604,-73.933304,0.0,0.0,0,0,0,0,0,0,traffic recklessness,unspecified,suv,sedan,16,Spring
13,2019-04-18,2019-12-09 18:58:00,queens,11418,40.699356,-73.842350,1.0,0.0,1,0,0,0,0,0,traffic recklessness,NaN,sedan,NaN,18,Spring

In [41]:
clean_nyc1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1019917 entries, 0 to 1617413
Data columns (total 20 columns):
crash_date                       1019917 non-null datetime64[ns]
crash_time                       1019917 non-null datetime64[ns]
borough                          669713 non-null object
zip_code                         1019917 non-null object
latitude                         899078 non-null float64
longitude                        899078 non-null float64
persons_injured                  1019914 non-null float64
persons_killed                   1019905 non-null float64
pedestrians_injured              1019917 non-null int64
pedestrians_killed               1019917 non-null int64
cyclist_injured                  1019917 non-null int64
cyclist_killed                   1019917 non-null int64
motorist_injured                 1019917 non-null int64
motorist_killed                  1019917 non-null int64
contributing_factor_vehicle_1    1019917 non-null object
contributing_factor_vehicle_2    930021 non-null object
vehicle_type_code_1              1017583 non-null object
vehicle_type_code_2              872370 non-null object
hour                             1019917 non-null int64
season                           1019917 non-null object
dtypes: datetime64[ns](2), float64(4), int64(7), object(7)
memory usage: 163.4+ MB

We've done a lot of data cleaning, and this is a great start for our next stage. If you would like to perform your own analyses, you can use the following cell's code to save the cleaned data locally by removing the `#` mark at the beginning of the line.

In [42]:
# clean_nyc1.to_csv("nyc_crash_data.csv", index = False)

# Analyzing the data <a id='Analyzing'></a>

Let's see how many cyclists, pedestrians and motorists were killed in ~2,000,000 collisions.

In [53]:
killed_motorists = clean_nyc1.groupby('crash_date').motorist_killed.sum().reset_index()
killed_motorists['sum'] = killed_motorists['motorist_killed'].cumsum()

killed_cyclist = clean_nyc1.groupby('crash_date').cyclist_killed.sum().reset_index()
killed_cyclist['sum'] = killed_cyclist['cyclist_killed'].cumsum()

killed_pedestrians = clean_nyc1.groupby('crash_date').pedestrians_killed.sum().reset_index()
killed_pedestrians['sum'] = killed_pedestrians['pedestrians_killed'].cumsum()

killed_persons = clean_nyc1.groupby('crash_date').persons_killed.sum().reset_index()
killed_persons['sum'] = killed_persons['persons_killed'].cumsum()

In [54]:
killed_motorists.tail(1)

     crash_date  motorist_killed  sum
2714 2019-12-06                0  578

In [55]:
killed_pedestrians.tail(1)

     crash_date  pedestrians_killed  sum
2714 2019-12-06                   0  520

In [56]:
killed_cyclist.tail(1)

     crash_date  cyclist_killed  sum
2714 2019-12-06               0   99

In [57]:
killed_persons.tail(1)

     crash_date  persons_killed     sum
2714 2019-12-06             0.0  1192.0

THE NUMBERS DONT ADD UP!!!!

In [ ]:
motoristkillednum = clean_nyc1['motorist_killed'] > 0
motoristkillednum.sum()

In [ ]:
pedestrianskillednum = clean_nyc1['pedestrians_killed'] > 0
pedestrianskillednum.sum()

It looks like being a motorist is not very safe in NYC. What about injured people?

In [ ]:
cyclistinjurednum = clean_nyc1['cyclist_injured'] > 0
cyclistinjurednum.sum()

In [ ]:
motoristinjurednum = clean_nyc1['motorist_injured'] > 0
motoristinjurednum.sum()

In [ ]:
pedestriansinjurednum = clean_nyc1['pedestrians_injured'] > 0
pedestriansinjurednum.sum()

Once again, being a motorist is more dangerous than being a pedestrian or cyclist.

Let's see which boroughs have a high number of collisions.

In [58]:
clean_nyc1['borough'].value_counts()

brooklyn         191904
queens           184298
manhattan        179176
bronx             86259
staten island     28076
Name: borough, dtype: int64

A lot of collisions in Brooklyn! 

Let's see the common reasons behind collisions.

In [59]:
clean_nyc1.contributing_factor_vehicle_1.value_counts()

traffic recklessness              451529
driver inattention/distraction    367825
road defects                       60738
outside error                      56992
illness                            47239
car defects                        19343
drugs (illegal)                    16251
Name: contributing_factor_vehicle_1, dtype: int64

'Traffic recklessness' and 'driver inattention/distraction' are the main causes of collisions.

What about the vehicle types? We will first make a copy of data -- a whole new data frame named `contributing_factor` to see the common vehicle types involved in driver inattention/distraction caused collisions.

In [ ]:
contributing_factor_inattention = clean_nyc1[clean_nyc['contributing_factor_vehicle_1'] == "Driver Inattention/Distraction"].copy()
contributing_factor_inattention.head()

Now we can see which vehicles have the 'Driver Inattention' factor most frequently.

In [ ]:
contributing_factor_inattention['vehicle_type_code_1'].value_counts().head(30)

Passenger vehicles take the lead in terms of vehicles most commonly involved in 'driver inattention/distraction' caused collisions. They are followed by SUVs.

# Statistical Analysis <a id='statistical_analysis'></a>

## ANOVA

We will begin by looking at whether there is a difference between the number of deaths by borough for persons, pedestrians, motorists and cyclists. We will use one way ANOVA test for that since we have more than two boroughs (more than two nominal variables).

We will first drop the NaN's in the `persons_killed` column to be able to do the ANOVA test.

In [ ]:
from scipy import stats

clean_nyc1.dropna(subset = ['persons_killed'], how='all', inplace=True)

stats.f_oneway(clean_nyc1[['persons_killed']][clean_nyc1['borough']=="manhattan"],
              clean_nyc1[['persons_killed']][clean_nyc1['borough']=="staten island"],
              clean_nyc1[['persons_killed']][clean_nyc1['borough']=="bronx"],
              clean_nyc1[['persons_killed']][clean_nyc1['borough']=="queens"],
              clean_nyc1[['persons_killed']][clean_nyc1['borough']=="brooklyn"])

Our p-value is less than 0.05, which means that it is statistically significant. There seems to be a difference between the number of persons killed by borough.

In [ ]:
stats.f_oneway(clean_nyc1[['motorist_killed']][clean_nyc1['borough']=="manhattan"],
              clean_nyc1[['motorist_killed']][clean_nyc1['borough']=="staten island"],
              clean_nyc1[['motorist_killed']][clean_nyc1['borough']=="bronx"],
              clean_nyc1[['motorist_killed']][clean_nyc1['borough']=="queens"],
              clean_nyc1[['motorist_killed']][clean_nyc1['borough']=="brooklyn"])

That is a very low p-value. We are seeing a difference. Our null hypothesis was that all of the boroughs have the same mean for the number of motorists killed in accidents. That null hypothesis is highly unlikely and one or more of these boroughs is different than the others.

In [ ]:
stats.f_oneway(clean_nyc1[['cyclist_killed']][clean_nyc1['borough']=="manhattan"],
              clean_nyc1[['cyclist_killed']][clean_nyc1['borough']=="staten island"],
              clean_nyc1[['cyclist_killed']][clean_nyc1['borough']=="bronx"],
              clean_nyc1[['cyclist_killed']][clean_nyc1['borough']=="queens"],
              clean_nyc1[['cyclist_killed']][clean_nyc1['borough']=="brooklyn"])

Our p-value is greater than 0.05, which means that it is not statistically significant. There seems to be no difference in the mean number of cyclists killed by borough.

In [ ]:
stats.f_oneway(clean_nyc1[['pedestrians_killed']][clean_nyc1['borough']=="manhattan"],
              clean_nyc1[['pedestrians_killed']][clean_nyc1['borough']=="staten island"],
              clean_nyc1[['pedestrians_killed']][clean_nyc1['borough']=="bronx"],
              clean_nyc1[['pedestrians_killed']][clean_nyc1['borough']=="queens"],
              clean_nyc1[['pedestrians_killed']][clean_nyc1['borough']=="brooklyn"])

Our p-value is not less than 0.05. There seems to be no difference in the number of pedestrians killed by borough.

So, there is a difference in the numbers of persons and motorists killed, but there is no difference in the numbers of pedestrians and cyclists  killed by borough.

Let's also see whether there is a difference in the numbers of persons killed by season.

In [ ]:
clean_nyc1.season.unique()

In [ ]:
stats.f_oneway(clean_nyc1[['persons_killed']][clean_nyc1['season']=="Autumn"],
              clean_nyc1[['persons_killed']][clean_nyc1['season']=="Spring"],
              clean_nyc1[['persons_killed']][clean_nyc1['season']=="Summer"],
              clean_nyc1[['persons_killed']][clean_nyc1['season']=="Winter"])

That is a very interesting p-value right on the edge! The p-value is very close to being statistically significant but not. This may suggest what we are seeing here in our sample data can't be a real difference but then again, it is very close. We can reject the null hypothesis.

ANOVA can tell there is a difference but can't tell which borough (or boroughs) is different. We need to do some comparisons to see which of the boroughs is an outlier. Let's try two-sample T-tests.

## Two-Sample T-Tests

We will begin by using two-sample T-test to measure whether numbers of motorists killed has a mean that differs between Manhattan and Staten Island. The two-sample T-test assumes that the distribution of values in each group follows a normal distribution ("bell curve"). Let's confirm that this is true for numbers of motorists killed in Manhattan and Staten Island.

In [ ]:
stats.ttest_ind(clean_nyc1[['motorist_killed']][clean_nyc1['borough'] == 'manhattan'], clean_nyc1[['motorist_killed']][clean_nyc1['borough'] == 'staten island'])

The statistic here represents the distance between the two means, in terms of standard deviations. That is a very small p-value and it is statistically significant. There is a difference between Manhattan and Staten Island. What about Brooklyn and Staten Island?

In [ ]:
stats.ttest_ind(clean_nyc1[['motorist_killed']][clean_nyc1['borough'] == 'brooklyn'], clean_nyc1[['motorist_killed']][clean_nyc1['borough'] == 'staten island'])

Our p-value is less than 0.05, so there is a statistically significant difference. We can reject the null hypothesis (our null hypothesis was that the motorists killed means are equal in each borough).

What about Queens and Manhattan?

In [ ]:
stats.ttest_ind(clean_nyc1[['motorist_killed']][clean_nyc1['borough'] == 'queens'], clean_nyc1[['motorist_killed']][clean_nyc1['borough'] == 'manhattan'])

Our p-value is very small this time! There is a little difference... but what about the effect size? Are they really that different? Let's define cohen's d to measure the effect size. Let's look at the effect size for the difference between Manhattan and Queens.

In [ ]:
from numpy import var, mean
from math import sqrt
def cohens_d (first, second):
  s1, s2 = var(first, ddof=1), var(second, ddof=1)
  std = sqrt(((len(first) - 1) * s1 + (len(second) - 1) * s2) / (len(first) + len(second) - 2))
  return (mean(first)-  mean(second)) / std

In [ ]:
cohens_d(clean_nyc1[['motorist_killed']][clean_nyc1['borough']=="manhattan"], 
                clean_nyc1[['motorist_killed']][clean_nyc1['borough']=="queens"])

It looks like the difference is trivial. It is a very small effect size which indicates that the difference between them is not very large.

What about the effect size for Manhattan and Staten Island?

In [ ]:
cohens_d(clean_nyc1[['motorist_killed']][clean_nyc1['borough']=="manhattan"], 
                clean_nyc1[['motorist_killed']][clean_nyc1['borough']=="staten island"])

Again, the difference is trivial. It is a very small effect size which indicates that the difference between them is not statistically significant.

Next, let's see if there are statistically significant differences between the number of fatalities of different vehicle types.

In [ ]:
stats.ttest_ind(clean_nyc1[['persons_killed']][clean_nyc1['vehicle_type_code_1']=="suv"], 
                clean_nyc1[['persons_killed']][clean_nyc1['vehicle_type_code_1']=="sedan"])

It looks like SUV's are more lethal, though not enough to outlaw them. The small p-value is low enough to show that the slight difference is in fact statistically significant, and not a trick of our dataset.

We wonder though: Are SUVs even more dangerous for pedestrians? They are bigger...

In [ ]:
stats.ttest_ind(clean_nyc1[['pedestrians_killed']][clean_nyc1['vehicle_type_code_1']=="suv"], 
                clean_nyc1[['pedestrians_killed']][clean_nyc1['vehicle_type_code_1']=="sedan"])

Wow!! It looks like the difference is greater, but the p-value is so small that there is almost no chance that the difference is random!

Let's see if SUVs are significantly different to the largest/broadest set of fatal vehicle types: "passenger vehicle"

In [ ]:
stats.ttest_ind(clean_nyc1[['persons_injured']][clean_nyc1['vehicle_type_code_1']=="suv"], 
                clean_nyc1[['persons_injured']][clean_nyc1['vehicle_type_code_1']=="passenger vehicle"])

SUVs are slightly, but not significantly more fatal to all people in NYC. Now to check for pedestrians.

In [ ]:
stats.ttest_ind(clean_nyc1[['pedestrians_killed']][clean_nyc1['vehicle_type_code_1']=="suv"], 
                clean_nyc1[['pedestrians_killed']][clean_nyc1['vehicle_type_code_1']=="passenger vehicle"])

There is a statistically significant difference.

So far, we were able to determine that some vehicles are more dangerous to the lives of New Yorkers than others. We were able to point out the raw numbers, but also prove that they had statistical significance. We also found that strong evidence of how dangerous SUVs are to pedestrians in NYC.

## Chi-Square

Chi-square, or chi-squared, is a measure of independence of categorical variables. Here we will be looking at categories like borough and season. Chi-square requires frequency counts or a contingency table.

In [ ]:
contingency_table = pd.crosstab(
    clean_nyc1['borough'], clean_nyc1['season'],
    margins = True)

contingency_table

In [ ]:
stats.chi2_contingency(contingency_table)

Our chi-square value is 189.3 and p-value is, well, very small. It is statistically significant. That suggests that the variable season is somehow related to the variable borough. Season did influence the number of accidents in each borough.

Now, we can begin our visualizations...

## Visualizing the data <a id='Visualizations'></a>

We will create an exploratory visualization of:

* [Number of Deaths by Borough](#Fataities_by_borough)
* [Number of Deaths by Hour](#Fataities_by_hour)
* [Number of Accidents by Season](#accidents_by_season)
* [Fatal Car Crash Locations](#car_crash_locations)
* [Contributing Factor Trends](#contributing_factor_trends)
* [Contributing Factors to Crash Fatalities](#Factor_Bar_Plot)
* [Fatalities to Pedestrians vs Cyclists vs Motorist](#Fataity_Grouped_Series)
* [Fatal Crash Frequency Over Time](#Fatality_Time_Scatterplot)
* [Crash Factor Percentages in Queens](#queens_crash_causes)

## Number of deaths by borough <a id='Fataities_by_borough'></a>

Let's see the average of killed persons by borough with the collisions count.

In [ ]:
clean_nyc1.groupby('borough').persons_killed.agg(['count', 'mean'])

Let's graph this with a bar chart.

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
clean_nyc1.groupby('borough').persons_killed.count().plot(kind='bar', figsize=(10, 6))
plt.ylabel('Number persons killed')
plt.title('Number of Deaths by Borough', fontsize=15)
plt.xticks(rotation=0, fontsize='large')
plt.xlabel(' ')

It looks like Brooklyn and Queens have the highest probability of death, meanwhile Staten Island has the lowest. Interesting.

## Number of deaths by hour  <a id='Fataities_by_hour'></a>

Let's see the mean of persons killed by hour. We are interested in seeing the percentage rate of persons killed for each hour. We want to see this information hourly to get a better general idea.

In [ ]:
clean_nyc1.groupby(clean_nyc1.hour).persons_killed.count().plot(figsize=(10, 6))
plt.title('Number of Deaths by Hour', fontsize=18)
plt.ylabel('Number of persons killed', fontsize=13)
plt.xticks(np.arange(0, 24, step=3))
plt.xlabel('time', fontsize=13)

It looks like the number of deaths go up between 14:00 and 17:00. They decrease between 2:00 and 7:00, while most people are sleeping.

## Number of accidents by season <a id='accidents_by_season'></a>

Let's see the number of accidents by season.

In [ ]:
import seaborn as sns
ax = sns.countplot(x='season', data=clean_nyc1, palette='Set3')

Autumn and Summer have higher number of accidents compared to Spring and Winter.

## Fatal Car Crash Locations <a id='car_crash_locations'></a>

We will have to prepare a new dataframe with the latitude and longitude values, before this can work. We'll also include other columns we may want to display in the visualization in some way, shape, or form.

In [ ]:
crash_locations = clean_nyc1[['borough', 'crash_date', 'latitude' ,'longitude','persons_killed',
                           'cyclist_killed', 'pedestrians_killed','motorist_killed']].copy()
crash_locations.head()

The first thing we will do is remove any non-fatal rows. To do so, we must first change the `persons_killed` column values from float to integer.

In [ ]:
crash_locations.dropna(subset = ['persons_killed'], how='all', inplace=True)
crash_locations['persons_killed'] = crash_locations.persons_killed.astype(int)
crash_locations.head()

Much better. Now to drop the rows.

In [ ]:
crash_locations = crash_locations[crash_locations.persons_killed != 0].reset_index()
crash_locations.head()

Let's take a look to see if we can clean up this dataframe anymore.

In [ ]:
crash_locations.shape

In [ ]:
crash_locations.describe()

It looks like we have 1127 rows, and we have missing lat/long values. For our purposes, we will drop those values now. There may be other ways to recover the data, or an approximation thereof, but it is beyond the scope of this notebook.

In [ ]:
crash_locations.dropna(subset = ['latitude'], how='all', inplace=True)
crash_locations.dropna(subset = ['longitude'], how='all', inplace=True)
crash_locations.describe()

And finally, we can map these values.

In [ ]:
# Please use google colab to see the visualization. 
# The link to the google colab of this file can be found at the top of the README.md file

import plotly.express as px

fig = px.scatter_mapbox(crash_locations, lat='latitude', lon='longitude',
                        size = "persons_killed",
                        hover_name="persons_killed",
                        hover_data=["pedestrians_killed", "cyclist_killed", "motorist_killed"],
                        color="persons_killed",
                        range_color=[1,8],
                        opacity=0.5,
                        width =850,
                        zoom=9,
                       )
fig.update_layout(title='Fatal Car Crash Locations')
fig.update_layout(mapbox_style="stamen-terrain", mapbox_center_lon=286)
fig

This looks pretty scary! These deaths represent pedestrians, cyclists, and motorists. It is hard to find roads where people have not been killed by cars in NYC!

Though we must remember that this map represents deaths over nearly a decade.

## Contributing factor trends <a id='contributing_factor_trends'></a>

We will use Plotly, specifically, `plotly.express` to visualize some contributing factor trends.

In [ ]:
clean_nyc1['contributing_factor_vehicle_1'].unique()

In [ ]:
# Please use google colab to see the visualization. 
# The link to the google colab of this file can be found at the top of the README.md file

import plotly.graph_objects as go
fig = px.box(clean_nyc1, x="persons_killed", y="contributing_factor_vehicle_1")
fig.show()

Most collisions that result in one or two deaths are due to driver inattention, meanwhile most collisions that result in no death are due to illegal drugs.

Let's see when the accidents, in which more than one person die, tend to occur.

In [ ]:
# Please use google colab to see the visualization. 
# The link to the google colab of this file can be found at the top of the README.md file

fig = px.scatter (clean_nyc1, x= 'persons_killed', y= 'hour')
fig.show()

The collisions that result with more than one persons death tend to occur between 22:00 and 04:00.

## Contributing factors to crash fatalities <a id='Factor_Bar_Plot'></a>

We will use the 'value_counts' function to see how frequently contributing factor values appear in the data.

In [ ]:
clean_nyc1['contributing_factor_vehicle_1'].value_counts()

For now, we'll just analyze the first contributing factor to get a general sense of the data. Let's look into the causes of fatal car crashes. We'll start by creating a new dataframe that groups those causes.

In [ ]:
counted_lethal_crash_factors = clean_nyc1.groupby('contributing_factor_vehicle_1').persons_killed.sum().reset_index().sort_values("persons_killed", ascending = False)
counted_lethal_crash_factors.head()

Finally, let's drop 0's if we have any.

In [ ]:
counted_lethal_crash_factors = counted_lethal_crash_factors[counted_lethal_crash_factors.persons_killed != 0]
counted_lethal_crash_factors.tail()

Great. Now let's visualize fatal car crash causes in NYC.

In [ ]:
counted_lethal_crash_factors.plot.barh("contributing_factor_vehicle_1", 
                                      "persons_killed",
                                      figsize = (10,20)
                                      ).invert_yaxis()

This horizontal bar chart gives a slightly better sense of the data, that fatal accidents are mostly caused by traffic recklessness.

This is of course only looking at fatal accidents, only at the first recorded cause, and the reports are likely not 100% reliable. However, if NYC's government wanted to do more to reduce fatalities, this is useful information.

## Fatalities to pedestrians vs cyclists vs motorist <a id='Fataity_Grouped_Series'></a>

For this we'll use Seaborn to compare the distribution of fatalities by the category of persons killed. We'll group each category from our original dataframe into its own dataframe. We will then add a column to each dataframe which creates a running total of persons killed, using the cumsum function.

In [ ]:
killed_motorists = clean_nyc1.groupby('crash_date').motorist_killed.sum().reset_index()
killed_motorists['sum'] = killed_motorists['motorist_killed'].cumsum()

killed_cyclist = clean_nyc1.groupby('crash_date').cyclist_killed.sum().reset_index()
killed_cyclist['sum'] = killed_cyclist['cyclist_killed'].cumsum()

killed_pedestrians = clean_nyc1.groupby('crash_date').pedestrians_killed.sum().reset_index()
killed_pedestrians['sum'] = killed_pedestrians['pedestrians_killed'].cumsum()

Now we can plot these using Seaborn, a library built to handle python data visualizations.

For this graph, we will overlay the rolling sum of fatalities (grouped by travel type) on the same graph, to get a sense of relative danger.

In [ ]:
sns.set(style="whitegrid")

fig, ax = plt.subplots(figsize=(20, 10))

sns.lineplot(x='crash_date', y='sum', color = 'red', data=killed_motorists, ax=ax)
sns.lineplot( x='crash_date', y='sum', color = 'blue', data=killed_cyclist, ax=ax)
sns.lineplot( x='crash_date', y='sum', color = 'green', data=killed_pedestrians, ax=ax)
ax.legend(['Motorists', 'Cyclists', 'Pedestrians'], facecolor='w')

plt.show()

This is interesting. More pedestrians are killed than motorists by car crashes. I guess that is not entirely surprising, but it is disheartening.

This analysis lends itself well to comparing injury rates as well, which we would expect to be significantly higher.

Assuming there was more time, further analysis into the rates of change in the fatality set (to see if NYC is getting safer or more dangerous) would be manageable with another function over these data sets.

## Fatal crash frequency over time <a id='Fatality_Time_Scatterplot'></a>

To visualize the data we need to refine our dataframe. We'll try to sort rows where fatalities occurred into a new dataframe, then we need to group by date and sum.

In [ ]:
lethal_crashes = clean_nyc1[clean_nyc1['persons_killed'] > 0]
lethal_crashes.head()

Now to group by `crash_date`... We are going to use a number of chained functions here. We are adding up the number of fatalities per day, and sorting chronologically.

Sidenote: We changed the format in the time column, accidentally adding today's date, but that will not have an impact on our analysis.

In [ ]:
clean_nyc1.groupby('crash_date').persons_killed.sum().reset_index().head(20)

Next, we'll port this into a new dataframe with some other fields we are interested in for analysis, then try to use matplotlib.

In [ ]:
counted_lethal_crashes = clean_nyc1.groupby(['crash_date','borough', 'contributing_factor_vehicle_1']).persons_killed.sum().reset_index()
counted_lethal_crashes.info()

Let's visualize it!

In [ ]:
import matplotlib.pyplot as plt
plt.show() #makes graph space appear
fig, ax = plt.subplots(figsize=(20,10)) # Create the plot space upon which to plot the data
ax.margins(0.05) # Optional, just adds 5% padding to the autoscaling


x = counted_lethal_crashes['crash_date']
y = counted_lethal_crashes['persons_killed']

ax.plot(x,y,
        linestyle='',
        marker='x',
        alpha = 0.5,
        color='Red'
       )

ax.set(xlabel="Date",
       ylabel="Killed Count",
       title="Number of people killed by motorists in NYC") # Set title and labels for axes

We have successfully plotted the Car crash fatalities in NYC over time!

We can see from this that the majority of crashes have either 0 or 1 persons killed. Though there are some outliers. We could plug other columns into this chart, and see distributions of pedestrians, cyclists, motorists killed, but it will be easier and more visually appealing with pandas and seaborn. Here it is hard to get a precise view of the data, though it does help us know where to look.

## Crash factor percentages in Queens <a id='queens_crash_causes'></a>

Let's check out our data for boroughs.

In [ ]:
top_boroughs = clean_nyc1['borough'].value_counts()
top_boroughs

Now we'll look at the crashes to see what factor contributed first to the crash by each borough. We select out these columns and put into a dataframe to look at the information.


I would like to select out for the borough of Queens and look just at this neighborhood for crash data. So, I select only this variable from the borough column and make a dataframe for factor contributing to vehicle crash for neighborhood Queens. This comparison is for the first factor involved in the crash.

In [ ]:
borough_factor = clean_nyc1.loc[:, ['borough', 'contributing_factor_vehicle_1']]
queens_data = borough_factor[borough_factor.borough == 'queens']
queens_data.head()

For this data, what are the numbers for each contributing factor.

In [ ]:
reason_counts = queens_data['contributing_factor_vehicle_1'].value_counts()
reason_counts

Now we will find the percentage contribution of each factor for the borough Queens and the first contributing factor involved in the crash to determine which factor had the greatest impact for this group. This will be expressed as a percentage of the total number of contributing factors.

In [ ]:
total_reason_counts = reason_counts.sum()
total_reason_counts

In [ ]:
reason_counts1 = reason_counts/total_reason_counts*100
reason_counts1

The greatest impact to crash was traffic recklessness, which is followed by 'Driver Inattention/Distraction'.

In [ ]:
reason_counts1.plot.barh(figsize = (10,20)
                        ).invert_yaxis()
plt.title('Percentage of Factors leading to crashes in Queens', fontsize=15)

# <center> <br>[Beginning of the page](#Top)</center> <a id='Bottom'></a>